<menu>
    <menuitem label='Administração'>
        <menu>
            <menuitem label='Programas'>
                <icon>fa:file-code-o fa-fw green</icon>
                <action>SystemProgramList</action>
            </menuitem>
            <menuitem label='Grupos'>
                <icon>fa:users fa-fw blue</icon>
                <action>SystemGroupList</action>
            </menuitem>
            <menuitem label='Usuários'>
                <icon>fa:user fa-fw blue</icon>
                <action>SystemUserList</action>
            </menuitem>
       <!--      <menuitem label='Configurações'>
                <icon>fa:user fa-fw blue</icon>
                <action>ConfigFormList</action>
            </menuitem> -->
            <menuitem label='Caixa'>
                <icon>fa:user fa-fw blue</icon>
                <action>CaixaList</action>
            </menuitem>
            <menuitem label='Compra'>
                <action>CompraList</action>
            </menuitem>
            <menuitem label='Venda'>
                <action>VendaList</action>
            </menuitem>
            <menuitem label='Filial'>
                <action>FilialList</action>
            </menuitem>
            <menuitem label='Marca'>
                <action>MarcaList</action>
            </menuitem>
            <menuitem label='Pessoa'>
                <action>PessoaList</action>
            </menuitem>
            <menuitem label='Produto'>
                <action>ProdutoList</action>
            </menuitem>
            </menu>
        </menuitem>

        <menuitem label='Logout'>
            <menu>
                <menuitem label='Logout'>
                    <icon></icon>
                    <action>LoginForm#method=onLogout#static=1</action>
                </menuitem>
            </menu>
        </menuitem>
    </menu>